@model MyVet.Web.Data.Entities.Manager

@{
    ViewData["Title"] = "Eliminar";
}

    <h1>ViewData["Title"]</h1>

<h3>¿Está seguro de eliminar al administrador?</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regrsar a la lista</a>
    </form>
</div>
