@{
    ViewData["Title"] = "Confirmar Correo Electrónico";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar su correo electrónico. Ahora puede inicar sesión en el sistema.
    </p>
</div>
